.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    
}
.subtotal_p{
    font-weight: bold;
}
.subtotal_gift{
    display: flex;
    align-items: center;
}
.subtotal_gift > input{
    margin-right: 3px;
}
.subtotal > button{
    background: #f0c41b;
    border: 1px solid;
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    color: #111;
    border-color: #a88734 #9c7e31 #846a29;
}